{% extends 'base.html.twig' %}

{% block title %}NOR Seasonal Watch List API{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>API Documentation ({{ api_version }})</h1>
            <p>API documentation goes here....</p>
        </div>
    </div>

{% endblock %}
