<div class="row my-4">
    <div class="col">
        Valid buff values:
        <ul>
            <li>*N is multiplicative, multiplies the raw total vote count (examples *2, *1.005)</li>
            <li>+N is additive, adds to the raw total vote count (examples +1, +10)</li>
            <li>Empty means no buff for this entry</li>
        </ul>
    </div>
</div>
{{ form_start(form) }}
    {% for tally in form.voteTallies %}
        <div class="row my-4">
            <div class="col">
                {{ form_row(tally.buffRule) }}
            </div>
        </div>
    {% endfor %}
    <button class="btn btn-primary mt-3 mb-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
