{% extends 'base.html.twig' %}

{% block title %}Edit Election{% endblock %}

{% block body %}
    <h1>Edit Election</h1>

    <div class="row">
        <div class="col-lg-6 col-md-9">
            {{ include('election/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <div class="float-end">
        {{ include('election/_delete_form.html.twig') }}
    </div>

    <a class="btn btn-light" href="{{ path('admin_election_index') }}">Back to list</a>

{% endblock %}
