/* Show it is fixed to the top */
body {
    min-height: 30rem;
    padding-top: 5rem;
}

.bg-royal {
    background-color: #6f42c1;
}

.text-royal {
    color: #6f42c1;
}

.recommendation-row {
    background-color: #00000022;
    margin-bottom: 0;
    padding-left: 28px;
}
.recommendation-row-danger {
    background-color: #dc354522;
}
.recommendation-row-secondary {
    background-color: #6c757d22;
}
.recommendation-row-info {
    background-color: #0dcaf022;
}
.recommendation-row-primary {
    background-color: #0d6efd22;
}
.recommendation-row-success {
    background-color: #19875422;
}
.recommendation-row-royal {
    background-color: #6f42c122;
}

.watching-legend-pip {
    width: 16px;
    height: 16px;
}
.activity-watching {
    background-color: #007eb9;
}
.activity-ptw {
    background-color: rgb(128, 191, 220);
}
.activity-stopped {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(150, 150, 150);
}

.table-field-activity-finished {
    --bs-table-bg: #007eb9;
    color: #ffffff;
}
.table-field-activity-watching {
    --bs-table-bg: rgb(64, 158, 203);
    color: #ffffff;
}
.table-field-activity-stopped {
    --bs-table-bg: rgb(20, 20, 20);
    color: #ffffff;
}
.table-field-activity-paused {
    --bs-table-bg: rgb(128, 191, 220);
    color: #000;
}
.table-field-activity-ptw {
    --bs-table-bg: rgb(191, 223, 238);
    color: #000;
}
.table-field-activity-dropped {
    --bs-table-bg: rgb(217, 217, 217);
    color: #000;
}

.score-th8a {
    background-color: #c90d0d;
    border: 1px solid #c90d0d;
}
.score-highly, .score-highly-favorable {
    background-color: rgb(214, 74, 74);
    border: 1px solid rgb(214, 74, 74);
}
.score-favorable {
    background-color: rgb(228, 134, 134);
    border: 1px solid rgb(228, 134, 134);
}
.score-neutral {
    /*background-color: rgb(217, 217, 217);*/
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(150, 150, 150);
}
.score-unfavorable {
    background-color: rgb(64, 64, 64);
    border: 1px solid rgb(64, 64, 64);
}


.table-field-score-th8a {
    --bs-table-bg: #c90d0d;
    color: #fff;
}
.table-field-score-highly, .table-field-score-highly-favorable {
    --bs-table-bg: rgb(214, 74, 74);
    color: #fff;
}
.table-field-score-favorable {
    --bs-table-bg: rgb(228, 134, 134);
    color: #000;
}
.table-field-score-neutral {
    --bs-table-bg: rgb(217, 217, 217);
    color: #000;
}
.table-field-score-unfavorable {
    --bs-table-bg: rgb(64, 64, 64);
    color: #fff;
}

.text-nor-red {
    color: #c90d0d;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.text-nor-red-highlight {
    color: rgb(214, 74, 74);
}
a:hover span.text-nor-red, a.active span.text-nor-red {
    color: rgb(214, 74, 74);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a.nor-red {
    color: #c90d0d;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
a.nor-red:hover {
    color: rgb(217, 74, 74);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.second-nav-bar {
    z-index:1000;
    background-color: #eeeeee !important;
}

@media (prefers-color-scheme: dark) {

    .second-nav-bar {
        background-color: #444 !important;
    }

}
.second-nav-clearance-padding {
    margin-top: 3rem;
}

.third-nav-bar {
    z-index:1000;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {

    .third-nav-bar {
        background-color: #222;
    }

}

.third-nav-clearance-padding {
    margin-top: 3rem;
}

a.show-anchor {
    position:relative;
    top:-8rem;
    z-index:-100;
}

a.show-anchor-condensed {
    position:relative;
    top:-11rem;
    z-index:-100;
}

a.back-to-top-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index:100;
}

span.mood-emoji-container {
    position: relative;
}

.mood-emoji-favorable-color {
    color: #eecb62;
}
.mood-emoji-heart-eyes-color {
    color: crimson;
}
.mood-emoji-dark-mouth-color {
    color: #664301;
}
.mood-emoji-light-mouth-color {
    color: #aaaaaa;
}
.mood-emoji-neutral-color {
    color: #bbbbbb;
}
.mood-emoji-unfavorable-color {
    color: #555555;
}

.bi-x-upper-half::before {
    clip-path: polygon(20% 10%, 80% 10%, 98% 50%, 2% 50%);
}
.bi-x-lower-half::before {
    clip-path: polygon(2% 50%, 98% 50%, 80% 90%, 20% 90%);
}
.bi-x-shrunk-circle::before {
    clip-path: circle(48%);
}

.d-light-inline { display: inline !important; }
.d-dark-inline { display: none !important; }
html.dark .d-light-inline { display: none !important; }
html.dark .d-dark-inline { display: inline !important; }
html.dark .second-nav-bar { background-color: #444 !important; }
html.dark .third-nav-bar { background-color: #222 !important; }
body.color-scheme-dark .d-light-inline { display: none !important; }
body.color-scheme-dark .d-dark-inline { display: inline !important; }
body.color-scheme-dark .second-nav-bar { background-color: #444 !important; }
body.color-scheme-dark .third-nav-bar { background-color: #222 !important; }

.has-markdown th {
    padding-right: 1em;
}
.has-markdown td {
    padding-right: 1em;
}

.cover-image-large {
}
.cover-image-medium {
}
