/* Show it is fixed to the top */
body {
    min-height: 30rem;
    padding-top: 5rem;
}

.bg-royal {
    background-color: #6f42c1;
}

.text-royal {
    color: #6f42c1;
}

.recommendation-row {
    background-color: #00000022;
    margin-bottom: 0;
    padding-left: 28px;
}
.recommendation-row-danger {
    background-color: #dc354522;
}
.recommendation-row-secondary {
    background-color: #6c757d22;
}
.recommendation-row-info {
    background-color: #0dcaf022;
}
.recommendation-row-primary {
    background-color: #0d6efd22;
}
.recommendation-row-success {
    background-color: #19875422;
}
.recommendation-row-royal {
    background-color: #6f42c122;
}

.watching-legend-pip {
    width: 16px;
    height: 16px;
}
.activity-watching {
    background-color: #007eb9;
}
.activity-ptw {
    background-color: rgb(128, 191, 220);
}

.table-field-activity-finished {
    --bs-table-bg: #007eb9;
    color: #ffffff;
}
.table-field-activity-watching {
    --bs-table-bg: rgb(64, 158, 203);
    color: #ffffff;
}
.table-field-activity-paused {
    --bs-table-bg: rgb(128, 191, 220);
    color: #000;
}
.table-field-activity-ptw {
    --bs-table-bg: rgb(191, 223, 238);
    color: #000;
}
.table-field-activity-dropped {
    --bs-table-bg: rgb(217, 217, 217);
    color: #000;
}

.score-th8a {
    background-color: #c90d0d;
}
.score-highly, .score-highly-favorable {
    background-color: rgb(214, 74, 74);
}
.score-favorable {
    background-color: rgb(228, 134, 134);
}
.score-neutral {
    background-color: rgb(217, 217, 217);
}
.score-unfavorable {
    background-color: rgb(64, 64, 64);
}


.table-field-score-th8a {
    --bs-table-bg: #c90d0d;
    color: #fff;
}
.table-field-score-highly, .table-field-score-highly-favorable {
    --bs-table-bg: rgb(214, 74, 74);
    color: #fff;
}
.table-field-score-favorable {
    --bs-table-bg: rgb(228, 134, 134);
    color: #000;
}
.table-field-score-neutral {
    --bs-table-bg: rgb(217, 217, 217);
    color: #000;
}
.table-field-score-unfavorable {
    --bs-table-bg: rgb(64, 64, 64);
    color: #fff;
}

.text-nor-red {
    color: #c90d0d;
    text-decoration: none;
}
.text-nor-red-highlight {
    color: rgb(214, 74, 74);
}

a.nor-red {
    color: #c90d0d;
}
a.nor-red:hover {
    color: rgb(217, 74, 74);
}

.second-nav-bar {
    top:4.1rem;
    z-index:1000;
    background-color: #eeeeee !important;
}

@media (prefers-color-scheme: dark) {

    .second-nav-bar {
        background-color: #444 !important;
    }

}
.second-nav-clearance-padding {
    margin-top: 3rem;
}

a.show-anchor {
    position:relative;
    top:-8rem;
    z-index:-100;
}

a.back-to-top-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index:100;
}

/*i.bi-emoji-smile-fill {*/
/*    background-color: black;*/
/*    border-radius: 1rem;*/
/*}*/

.d-light-inline { display: inline !important; }
.d-dark-inline { display: none !important; }
html.dark .d-light-inline { display: none !important; }
html.dark .d-dark-inline { display: inline !important; }
html.dark .second-nav-bar { background-color: #444 !important; }
body.color-scheme-dark .d-light-inline { display: none !important; }
body.color-scheme-dark .d-dark-inline { display: inline !important; }
body.color-scheme-dark .second-nav-bar { background-color: #444 !important; }
