/* Show it is fixed to the top */
body {
    min-height: 30rem;
    padding-top: 5rem;
}

.bg-royal {
    background-color: #6f42c1;
}

.text-royal {
    color: #6f42c1;
}

.recommendation-row {
    background-color: #00000022;
    margin-bottom: 0;
    padding-left: 28px;
}
.recommendation-row-danger {
    background-color: #dc354522;
}
.recommendation-row-secondary {
    background-color: #6c757d22;
}
.recommendation-row-info {
    background-color: #0dcaf022;
}
.recommendation-row-primary {
    background-color: #0d6efd22;
}
.recommendation-row-success {
    background-color: #19875422;
}
.recommendation-row-royal {
    background-color: #6f42c122;
}

.table-field-activity-finished {
    --bs-table-bg: #007eb9ff;
    color: #ffffff;
}
.table-field-activity-watching {
    --bs-table-bg: #007eb9aa;
    color: #ffffff;
}
.table-field-activity-paused {
    --bs-table-bg: #007eb966;
    color: #000;
}
.table-field-activity-ptw {
    --bs-table-bg: #007eb922;
    color: #000;
}
.table-field-activity-dropped {
    --bs-table-bg: #000000aa;
    color: #ffffff;
}
.table-field-score-th8a {
    --bs-table-bg: #c80d0d;
    color: #fff;
}
.table-field-score-highly, .table-field-score-highly-favorable {
    --bs-table-bg: #c80d0d88;
    color: #fff;
}
.table-field-score-favorable {
    --bs-table-bg: #c80d0d44;
    color: #000;
}
.table-field-score-neutral {
    --bs-table-bg: #00000022;
    color: #000;
}
.table-field-score-unfavorable {
    --bs-table-bg: #000000aa;
    color: #fff;
}
