<form class="d-flex float-end me-3">
    <label class="nav-item d-none" for="page_size_picker">Page size</label>
    <select class="form-select" id="page_size_picker" name="page_size_picker">
        <option value="10"{% if perPage == 10 %} selected="selected"{% endif %}>10 per page</option>
        <option value="50"{% if perPage == 50 %} selected="selected"{% endif %}>50 per page</option>
        <option value="200"{% if perPage == 200 %} selected="selected"{% endif %}>200 per page</option>
        <option value="1000"{% if perPage == 1000 %} selected="selected"{% endif %}>1000 per page</option>
    </select>
</form>
