<form class="d-flex">
    <label class="nav-item pe-2 pt-2 d-none d-lg-inline" for="select_season">Season</label>
    <select id="select_season" class="form-control me-3">
        {% for season in seasons %}
            <option
                    value="{{ season.id }}"
                    {% if season.id == selectedSeasonId %} selected="selected" {% endif %}
            >{{ season.name }}</option>
        {% endfor %}
    </select>
</form>
