<form class="d-flex d-lg-none">
    <label class="pe-2 pt-2 d-none" for="select_sort">Sort</label>
    <select id="select_sort" class="form-control me-3">
        <option value="show_asc"{% if selectedSortName == 'show_asc' %} selected{% endif %}>Show &darr;</option>
        <option value="show_desc"{% if selectedSortName == 'show_desc' %} selected{% endif %}>Show &uarr;</option>
        <option value="statistics_highest"{% if selectedSortName == 'statistics_highest' %} selected{% endif %}>Statistics &darr;</option>
        <option value="statistics_lowest"{% if selectedSortName == 'statistics_lowest' %} selected{% endif %}>Statistics &uarr;</option>
    </select>
</form>
