<table class="table table-sm align-middle">
    <tr>
        <td><div class="activity-watching watching-legend-pip"></div></td>
        <td>Watching</td>
        <td class="text-end">{{ row.consolidatedActivities.watching_count }}</td>
    </tr>
    <tr>
        <td><div class="activity-ptw watching-legend-pip"></div></td>
        <td>Plan to watch</td>
        <td class="text-end">{{ row.consolidatedActivities.ptw_count }}</td>
    </tr>
    <tr>
        <td><div class="activity-stopped watching-legend-pip"></div></td>
        <td>Stopped</td>
        <td class="text-end">{{ row.consolidatedActivities.stopped_count }}</td>
    </tr>
</table>
