<span class="d-none d-lg-inline fs-3 fw-bold activity-emoji-container" data-activity-value="{{ row.consolidatedActivities.total_count }}">
    <i class="bi bi-people-fill"></i>
</span>
<span class="d-inline d-lg-none fs-1 fw-bold activity-emoji-container" data-activity-value="{{ row.consolidatedActivities.total_count }}">
    <i class="bi bi-people-fill"></i>
</span>
