<form class="d-flex">
    <label class="nav-item pe-2 pt-2 d-none d-lg-inline" for="select_mode">View</label>
    <select id="select_mode" class="form-control me-3 d-none d-lg-inline">
        <option value="expanded"{% if selectedViewMode == 'expanded' %} selected{% endif %}>Expanded</option>
        <option value="condensed"{% if selectedViewMode == 'condensed' %} selected{% endif %}>Condensed</option>
    </select>
</form>
