{% if row.consolidatedScores is not null %}
    <span
            class="mood-emoji-container d-block fw-bold pe-2"
            data-mood-value="{{ row.consolidatedScores.mood_array.mood_average_value }}"
    >{{ row.consolidatedScores.mood_array.mood_emoji|raw }}</span>
{% else %}
    <span class="mood-emoji-container d-block fw-bold pe-2">&nbsp;</span>
{% endif %}
