{% if row.consolidatedScores is not null %}
    <span
            class="mood-emoji-container d-none d-lg-inline-block fs-3 fw-bold pe-2"
            data-mood-value="{{ row.consolidatedScores.mood_array.mood_average_value }}"
    >
        <i class="bi bi-{{ row.consolidatedScores.mood_array.mood_emoji }}"></i>
    </span>
{% else %}
    <span class="mood-emoji-container d-none d-lg-inline fs-3 fw-bold pe-2">&nbsp;</span>
{% endif %}
{% if row.consolidatedScores is not null %}
    <span
            class="mood-emoji-container d-inline-block d-lg-none fs-1 fw-bold pe-2"
            data-mood-value="{{ row.consolidatedScores.mood_array.mood_average_value }}"
    >
        <i class="bi bi-{{ row.consolidatedScores.mood_array.mood_emoji }}"></i>
    </span>
{% else %}
    <span class="mood-emoji-container d-inline-block d-lg-none fs-1 fw-bold pe-2">&nbsp;</span>
{% endif %}
