security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: true
            lazy: true
            provider: app_user_provider
            access_denied_handler: App\Security\AccessDeniedHandler
            guard:
                authenticators:
                    - App\Security\AppDiscordAuthenticator
            logout:
                path: connect_discord_disconnect
                target: '/'

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    role_hierarchy:
        ROLE_SWL_USER: ROLE_USER
        ROLE_SWL_ADMIN: ROLE_SWL_USER
        ROLE_ADMIN: ROLE_SWL_ADMIN
        ROLE_SUPER_USER: ROLE_ADMIN

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
        - { path: ^/admin, roles: ROLE_SWL_ADMIN }
        - { path: ^/show, roles: ROLE_SWL_USER }
        - { path: ^/my, roles: ROLE_SWL_USER }
        - { path: ^/all, roles: ROLE_SWL_USER }
        - { path: ^/election, roles: ROLE_SWL_USER }
