{% extends 'base.html.twig' %}

{% block title %}Edit Discord Channel{% endblock %}

{% block body %}
    <h1>Edit Discord Channel</h1>

    <div class="row">
        <div class="col-lg-6 col-md-9">
            {{ include('discord_channel/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <div class="float-end">
        {{ include('discord_channel/_delete_form.html.twig') }}
    </div>

    <a class="btn btn-light" href="{{ path('admin_discord_channel_index') }}">back to list</a>

{% endblock %}
